* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  /* overflow: hidden;  */
}

body {
  height: 100vh;
  /* background-color: #33363b; */
  background-color: #13161c;
}

a:link {
  text-decoration: none;
  outline: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.25);
  color: #ffffff;
  font-size: 40px;
  border-radius: 1rem;
  transition: background-color 1s;
}

.button:hover {
  background-color: #ededed99;
  animation: none;
}

.vertical {
  position: absolute;
  right: 4rem;
  padding: 1.5rem 4px;
  animation: bounce 1.5s infinite;
  height: 100px;
}

@keyframes bounce {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

.horizontal {
  padding: 4px 1.5rem;
  transition: background-color 1s;
  animation: sideToSide 1.5s infinite;
  width: 100px;
}

@keyframes sideToSide {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateX(15px);
  }
  40% {
    transform: translate(0);
  }
}

.button .material-symbols-outlined {
  font-size: 40px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: brightness(0.4);
  transition: 1s;
}

.show {
  opacity: 1;
}

.name-container,
.project__info-container {
  position: absolute;
}

.name-container {
  /* top: 10rem;
  left: 15px; */
  text-align: center;
  color: #ffffff;
}

#name-text {
  font-size: 3rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 4rem;
}

.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}

.text-bold {
  font-weight: 900;
}

.text-semiBold {
  font-weight: 500;
}

.text-light {
  font-weight: 100;
}

.project__info-container {
  bottom: 3rem;
  left: 15px;
  width: 50%;
  line-height: 2rem;
}

.project__info-container h2,
.project__info-container p {
  color: #ffffff;
}

.project__info-container h2 {
  font-weight: 500;
}

.project__info-container p {
  font-size: 1.2rem;
}

.description-project {
  display: none;
}

.show-description-project {
  display: block;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 10;
}

nav.sticky {
  padding: 15px 100px;
  background-color: #ffffff;
}

nav .logo {
  position: relative;
  transition: 0.6s;
}

nav .logo img {
  width: 40px;
}

nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  position: relative;
  list-style: none;
}

nav ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.6s;
  padding: 10px 25px;
  border-radius: 20px;
}

nav.sticky ul li a:hover {
  background-color: #044a11;
}

nav.sticky ul li a {
  color: #000000;
}

nav.sticky ul li a:hover {
  color: #ffffff;
}

main {
  width: 100%;
  /* background-color: #f9f9f9; */
}

.project__title-container {
  padding: 2rem;
}

.project__title-container h2 {
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
  color: #ffffff;
}

.solid-divider {
  border-top: 1px solid #bbb;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  gap: 3rem;
  margin: 5rem 0;
}

.project {
  width: 35%;
  height: 500px;
  -webkit-box-shadow: 6px 6px 19px 8px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 6px 6px 19px 8px rgba(0, 0, 0, 0.14);
  box-shadow: 6px 6px 19px 8px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  transition: all 0.6s ease-in-out;
  background-color: #ffffff;
}

.project:hover {
  transform: scale(1.01);
  z-index: 1;
}

.project a {
  color: #000000;
}

.project img {
  width: 100%;
  height: 65%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project__content-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  gap: 40px;
}

.project__content-container h3,
.project__content-container p {
  margin: 0;
}

.project__content-container h3 {
  font-size: 1.5rem;
}

.project-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon-text {
  display: flex;
  align-items: center;
}

.projects__main {
  display: flex;
  width: 100%;
}

.images-project__aside,
.info-project__article {
  height: 100%;
  width: 50%;
}

.images-project__aside img {
  width: 100%;
}

/* .images-project__aside {
  height: 100vh;
} */

.info-project__article {
  padding: 1rem 3rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 50px;
}

.info-project__article h1 {
  text-align: center;
}

.info-project__article p {
  line-height: 2rem;
}

.data-project__article {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  height: auto;
  padding-top: 40px;
  background-color: #111111;
  color: #ffffff;
}

.footer-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #ffffff;
}

.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover .fa-linkedin-square {
  color: #0e76a8;
}

.socials a:hover .fa-facebook {
  color: #3b5998;
}

.footer-bottom {
  background: #000000;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
